<% if @correct_answer %>
  <div class="question-part">
    <h3><%="Confidence n°#{@question.order}"%></h3>
  </div>

  <div class="card-chat-question-1">
    <p>Tout à fait !</p>
    </div>
      <%= image_tag 'informafion-1.png', class: "img-fion-small" %>
      <div class="explications right">
        <%= @question.explication %>
          </div>
          <% if @question.order < 5 %>
            <%= link_to 'Question suivante', question_path(@next_question), class: 'btn-blue-explications'%>
          <% elsif @question.order == 5 %>
          <%= link_to 'Terminer', quiz_end_quiz_path(@question.quiz), class: 'btn-blue-explications'%>
      <% end %>
    <% else %>
    <div class="question-part">
      <h3><%="Confidence n°#{@question.order}"%></h3>
    </div>

    <div class="card-chat-question-1">
      <p>Pas vraiment ...</p>
    </div>
      <%= image_tag 'informafion-1.png', class: "img-fion-small" %>
      <div class="explications wrong">
        <%= @question.explication %>
        </div>
          <% if @question.order < 5 %>
            <%= link_to 'Question suivante', question_path(@next_question), class: 'btn-blue-explications'%>
          <% elsif @question.order == 5 %>
          <%= link_to 'Terminer', quiz_end_quiz_path(@question.quiz), class: 'btn-blue-explications'%>
        <% end %>
    <% end %>
