<div class="background-color">

  <div class="question-part">
    <h3><%="Question #{@question.order}/5"%></h3>
    <div class="card-chat-question">
      <p> <%= @question.content %> </p>
    </div>
    <%= image_tag 'informafion-1.png', class: "img-fion-small" %>
  </div>

  <div class="section-center">
    <%= simple_form_for @question, url: question_path(@question.id), method: :get do |f| %>
      <%= simple_fields_for :answer do |answer_f| %>
        <%= answer_f.input :response_id,
        as: :radio_buttons,
        required: false,
        legend: false,
        collection: @question.responses.map {|response| [response.content, response.id]} %>
      <% end %>

      <div class="section-center">
        <%= f.submit "Je valide ma réponse", class: 'btn-blue-question' do %>
      </div>

  </div>
      <% end %>
    <% end %>
</div>
