<div class="background-color">

  <div class="card-search position">
    <%= link_to request.referer.present? ? request.referer : root_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <div class="card-chat-quiz">
      <%= image_tag 'informafion-ring.png', class: 'img-fion-quiz' %>
    </div>
  </div>

  <div class="quiz-side">
    <h3>Bienvenue dans le thème: <strong><%= @theme.name %></strong></h3>
    <% @quizzes.each do |quiz| %>
      <div class="card-quiz-unlock">
        <%#= link_to "https://jrkrupa.typeform.com/to/vI4komao" do %>
      <%#= if  quiz.finished == true do %>
        <i class="fas fa-check"></i>
        <div class="card-quiz-unlock-infos">
          <h4> <%= quiz.title %> </h4>
          <p> 5 questions - 10 minutes </p>
        </div>
        <% quiz.class %>
        <%= link_to 'first_question', question_path(quiz.questions.first) %>
      </div>
    <% end %>
  </div>
      <%#= else %>
        <%# <div class="card-quiz-lock">
          <i class="fas fa-lock"></i>
          <div class="card-quiz-lock-infos"> %>
            <%# <h4> <%= quiz.title %>
            <%# <p> 5 questions - 10 minutes </p>
          </div>
        </div> %>
</div>
