<div id="card-chat-small">
  <p>Choisi ton pseudo</p>
</div>
<div>
  <%= image_tag 'informafion.png', id: "img-fion-small" %>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    </div>
    <%= f.input :pseudo,
                required: true,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "pseudo", class: "registration-bar" }%>
    <div id="card-chat-small">
      <p>Choisi ton avatar</p>
    </div>
    <div id="div-fion">
      <%= image_tag 'informafion.png', id: "img-fion-small" %>
    </div>
    <div data-controller="carousel" class="swiper-container" id="carousel" data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }'>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div id="boxer"></div>
        </div>
        <div class="swiper-slide">
          <div id="soutif"></div>
        </div>
        <div class="swiper-slide">
          <div id="seins"></div>
        </div>
        <div class="swiper-slide">
          <div id="capote"></div>
        </div>
        <div class="swiper-slide">
          <div id="clito"></div>
        </div>
        <div class="swiper-slide">
          <div id="lèvres"></div>
        </div>
        <div class="swiper-slide">
          <div id="teub"></div>
        </div>
      </div>
    </div>
    <div class="password-div">
      <p>Entre ton mot de passe</p>
    </div>
    <%= f.input :password,
                required: true,
                label: false,
                input_html: { autocomplete: "new-password", class: "password-bar" } %>
    <div class="password-div">
      <p>Confirme ton mot de passe</p>
    </div>
    <%= f.input :password_confirmation,
                required: true,
                label: false,
                input_html: { autocomplete: "new-password", class: "password-bar" } %>
  </div>
    <div class="btn-position">
      <%= f.button :submit, "Je m'inscris", id: "btn-principal-connection" %>
    <%= render "devise/shared/links" %>
    </div>
<% end %>

 <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
