<div id="card-chat-small">
  <p>Choisi ton pseudo</p>
</div>
<div>
  <%= image_tag 'informafion.png', id: "img-fion-small" %>
</div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    </div>
    <%= f.input :pseudo,
                required: true,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "pseudo", class: "registration-bar" }%>
    <div id="card-chat-small">
      <p>Choisi ton avatar</p>
    </div>
    <div id="div-fion">
      <%= image_tag 'informafion.png', id: "img-fion-small" %>
    </div>
    <div data-controller="carousel" class="swiper-container" id="carousel" data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }'>
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= image_tag 'boxer.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'capote.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'clito.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'lèvres.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'seins.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'soutif.png', class: 'img-fion' %></div>
        <div class="swiper-slide"><%= image_tag 'teub.png', class: 'img-fion' %></div>
      </div>
    </div>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Je me" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

