<div class="background-color marge">

  <div class="card-chat">
    <p>Entre tes informations !</p>
  </div>
  <%= image_tag 'informafion-1.png', class: "img-fion-small" %>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <p class="p-login negative-marge">Entre ton pseudo<p>
      <%= f.error_notification %>
      <div class="form-inputs"></div>
      <%= f.input :pseudo,
                  required: true,
                  label: false,
                  autofocus: true,
                  input_html: { autocomplete: "pseudo" }%>

    <p class="p-login">Entre ton mot de passe<p>
    <%= f.input :password,
                required: true,
                label: false,
                input_html: { autocomplete: "new-password" } %>

    <div data-controller="carousel" class="swiper-container" id="carousel" data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" } }'>
      <p class="p-login">Choisi ton avatar</p>
      <%= f.hidden_field :avatar %>
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-value="boxer">
          <div id="boxer"></div>
        </div>
        <div class="swiper-slide" data-value="soutif">
          <div id="soutif"></div>
        </div>
        <div class="swiper-slide" data-value="seins">
          <div id="seins"></div>
        </div>
        <div class="swiper-slide" data-value="capote">
          <div id="capote"></div>
        </div>
        <div class="swiper-slide" data-value="clito">
          <div id="clito"></div>
        </div>
        <div class="swiper-slide" data-value="lèvres">
          <div id="lèvres"></div>
        </div>
        <div class="swiper-slide" data-value="teub">
          <div id="teub"></div>
        </div>
      </div>
    </div>

    <div class="btn-login">
      <%= f.button :submit, "Je m'inscris", id: "btn-je-minscris" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  <div class="swiper-button-prev" id="swiper-button-prev"></div>
  <div class="swiper-button-next" id="swiper-button-next"></div>

</div>

    <%# <div class="card-chat">
      <p>Choisi ton avatar</p>
    </div> %>

    <%# <div id="div-fion"> %>
      <%#= image_tag 'informafion-1.png', class: "img-fion-small" %>
    <%# </div> %>