<div class="position background-color">

  <div class="card-search">
    <%= form_tag themes_path, class:"form-input", method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query, params[:query], placeholder: "Je tape ma recherche", class: "form-control" %>
        <%#= submit_tag "s", class: "btn"%>
        <button name="button" type="submit" class="btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class='card-themes'>
    <h3>Découvrir les thèmes</h3>
    <% @themes.each do |theme| %>
      <div class="card-theme">
        <%= image_tag 'corps.png', class: 'img-taille' %>
        <div class="card-theme-infos">
          <h4> <%= theme.name %> </h4>
          <p> <%= theme.description %> </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class='bouton'>
    <p class="btn-principal"><%#= link_to "En découvrir plus", theme_path(@theme.id), class: 'links' %></p>
  </div>

</div>

 <%# <div class="card-search"> %>
    <%#= simple_form_for :search, method: :get, html: {class:"form-input"}  do |f| %>
      <%# <div class="search-form-control form-group"> %>
        <%#= f.input class="form-control string required" type="text" placeholder="Je tape ma recherche" name="search[query]" id="input-search" %>
        <%#= f.submit, class="btn" %>
      <%# </div> %>
    <%# end %>
  <%# </div> %>
