<div class="card-fixed">
  <div class="icons">

    <div>
      <%= link_to app_path, class: "icon-nav" do %>
        <i class="fas fa-home"></i>
      <% end %>
    </div>

    <div>
      <%= link_to themes_path, class: "icon-nav" do %>
        <i class="fas fa-lightbulb"></i>
      <% end %>
    </div>

    <div>
      <%= link_to channels_path, class: "icon-nav" do %>
        <i class="fas fa-comment"></i>
      <% end %>
    </div>

    <div>
      <%= link_to videos_path, class: "icon-nav" do %>
        <i class="fas fa-play-circle"></i>
      <% end %>
    </div>

    <div class="dropdown style-btn">
      <button class="icon-nav dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" arial-labelledby="dropdownMenuButton">
        <%= link_to "Me déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete %>
      </div>
    </div>

      <%# <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li> %>

    <%#= link_to themes_path, class: "icon-nav" do %>
      <%# <i class="fas fa-user-circle"></i> %>
    <%# end %>

    <div class="butt-logo">
      <%= link_to app_path do %>
        <%= image_tag "informafion-ring.png" %>
      <% end %>
    </div>

  </div>
</div>
