<div class="card-fixed">
  <div class="icon-nav">
    <%# <div class="d-flex"> %>
      <%= link_to themes_path, class: "icon-nav" do %>
        <i class="fas fa-lightbulb"></i>
      <% end %>
    <%# </div> %>

    <%# <div class="d-flex"> %>
      <%= link_to channels_path, class: "icon-nav" do %>
        <i class="fas fa-comment"></i>
      <% end %>
    <%# </div> %>

    <%# <div class="d-flex"> %>
      <%= link_to videos_path, class: "icon-nav" do %>
        <i class="fas fa-play-circle"></i>
      <% end %>
    <%# </div> %>

    <%# <div class="d-flex"> %>
      <%= link_to themes_path, class: "icon-nav" do %>
        <i class="fas fa-user-circle"></i>
      <% end %>
    <%# </div> %>
  </div>

    <div class="butt-logo">
      <%= link_to app_path do %>
        <%= image_tag "informafion-ring.png" %>
      <% end %>
    </div>

  </div>
</div>
