<div class="background-color">

  <div class="card-search">
    <%#= link_to request.referer.present? ? request.referer : default_path do %>
      <%# <i class="fas fa-arrow-left"></i> %>
    <%# end %>
    <h1>Sexplore<h1>
    <div class="search-js">
      <%= form_tag app_path, class:"form-input", method: :get, remote: true do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query, params[:query],  class: "form-control", placeholder: "Je tape ma recherche", autocomplete:'off' %>
          <button name="button" type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="slide-part">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn active" id="home-tab" data-toggle="tab" href="#theme" role="tab" aria-controls="theme" aria-selected="true">Thème</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn" id="resas-tab" data-toggle="tab" href="#agora" role="tab" aria-controls="agora" aria-selected="false">Agora</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link head tn" id="resas-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Vidéo</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="theme" role="tabpanel" aria-labelledby="theme-tab">
          <%= render 'themes/content_theme', themes: @themes %>
        </div>
        <div class="tab-pane fade" id="agora" role="tabpanel" aria-labelledby="agora-tab">
          <%= render 'channels/content_agora', channels: @channels %>
        </div>
        <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
          <%= render 'videos/content_video', videos: @videos %>
        </div>
      </div>
    </div>
</div>

<%#= render 'shared/navbar' %>
